dist
cabal-dev
*.o
*.hi
*.dyn_o
*.dyn_hi
*.chi
*.chs.h
*.agdai
.virthualenv
*~
dist_*
dist-*
.hsenv_*
TAGS
.diagrams-cache
/.cabal-sandbox/
/cabal.sandbox.config

.stack-work

*.aux
*.log
*~

ott/*.pdf
ott/*.tex

*.bbl
*.blg
*.ptb
*.bcf
nsf/*.pdf
nsf/main.tex
nsf/description.tex
nsf/.diagrams_cache

*.out

*-blx.bib
*.run.xml

.disco_history
/src/highlight.js
/src/style.css

explore/sub2/.sub2_history
