dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
dist_*
.hsenv_*
TAGS
.diagrams-cache
/.cabal-sandbox/
/cabal.sandbox.config

*.aux
*.log
*~

ott/*.pdf
ott/*.tex

*.bbl
*.blg
nsf/*.pdf
nsf/main.tex
nsf/description.tex